{% load static %}
<!DOCTYPE html>
<html lang="en-US">


<!-- blog-right-sidebar01:38-->
<head>
	<title>Transportation and Logistics Responsive</title>
	<meta name="author" content="Nile-Theme">
	<meta name="robots" content="index follow">
	<meta name="googlebot" content="index follow">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
	<meta name="description" content="Transportation and Logistics Responsive HTML5 Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext" rel="stylesheet">

	
	<!-- animate -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />
	<!-- owl Carousel assets -->
	<link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/owl.theme.css' %}" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<!-- hover anmation -->
	<link rel="stylesheet" href="{% static 'assets/css/hover-min.css' %}">
	<!-- flag icon -->
	<link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<!-- elegant icon -->
	<link rel="stylesheet" href="{% static 'assets/css/elegant_icon.css' %}">

	<!-- jquery library  -->
	<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
	<!-- fontawesome  -->
	<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}">


</head>

<body>
	<!--  Header  -->
	{% include 'myhtml/header.html' %}

	<!-- // Header  -->

	<!-- Search  -->
	<div id="search">
		<button type="button" class="close">×</button>
		<form class="clearfix d-block">
			<input type="search" value="" placeholder="Search for . . . ." />
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>
	<!-- // Search  -->

	<!-- Get A Quote  -->
	<div class="modal contact-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content margin-top-150px background-main-color">
				<div class="row no-gutters">
					<div class="col-lg-5">
						<img src="{% static 'assets/img/contact-img.jpg' %}" alt="">
					</div>
					<div class="col-lg-7">
						<div class="padding-30px">
							<h3 class="padding-bottom-15px">Get A Free Quote</h3>
							<form>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Full Name</label>
										<input type="text" class="form-control" id="inputName4" placeholder="Name">
									</div>
									<div class="form-group col-md-6">
										<label>Email</label>
										<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
									</div>
								</div>
								<div class="form-group">
									<label>Address</label>
									<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
								</div>
								<div class="form-group">
									<label>Message</label>
									<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
								</div>
								<a href="#" class="btn-sm btn-lg btn-block background-dark text-white text-center  text-uppercase rounded-0 padding-15px">SEND MESSAGE</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- // Get A Quote  -->


	<div class="page-title">
		<div class="container">
			<div class="padding-tb-120px">
				<h1>Blog</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Blog</li>
				</ol>
			</div>
		</div>
	</div>


	<div class="padding-tb-100px">
		<div class="container">

			<div class="row">



				<div class="col-md-3">

					<div class="widget sidebar-wideget">
						<div class="sidebar-title">
							<h2>Latest Posts</h2>
						</div>
						<div class="last-post">
							<div class="item">
								<div class="img"><a href="#"><img src="{% static 'assets/img/w-post-1.jpg' %}" alt=""></a></div>
								<a class="title" href="#">Be the last to criticize a colleague who fails.</a>
								<div class="date"><i class="fa fa-clock-o"></i> 4 April, 2017</div>
							</div>
							<div class="item">
								<div class="img"><a href="#"><img src="{% static 'assets/img/w-post-2.jpg' %}" alt=""></a></div>
								<a class="title" href="#">Be the last to criticize a colleague who fails.</a>
								<div class="date"><i class="fa fa-clock-o"></i> 4 April, 2017</div>
							</div>
							<div class="item">
								<div class="img"><a href="#"><img src="{% static 'assets/img/w-post-3.jpg' %}" alt=""></a></div>
								<a class="title" href="#">Be the last to criticize a colleague who fails.</a>
								<div class="date"><i class="fa fa-clock-o"></i> 4 April, 2017</div>
							</div>
							<div class="item">
								<div class="img"><a href="#"><img src="{% static 'assets/img/w-post-4.jpg' %}" alt=""></a></div>
								<a class="title" href="#">Be the last to criticize a colleague who fails.</a>
								<div class="date"><i class="fa fa-clock-o"></i> 4 April, 2017</div>
							</div>
						</div>
					</div>


					<div class="widget sidebar-wideget widget_categories">
						<div class="sidebar-title">
							<h2>Categories</h2>
						</div>
						<ul>
							<li><a href="service-single.html">Air Freight (20)</a></li>
							<li><a href="service-single.html">Ocean Freight (10)</a></li>
							<li><a href="service-single.html">Packaging and Storage (125)</a></li>
							<li><a href="service-single.html">Cargo Transportation  (47)</a></li>
							<li><a href="service-single.html">Fast Delivery (55)</a></li>
							<li><a href="service-single.html">Railroad Transportation (2)</a></li>
						</ul>
					</div>


					<div class="widget sidebar-wideget widget_categories">
						<div class="sidebar-title">
							<h2>Instagram Feed</h2>
							<div class="row">
								<div class="col-6 margin-bottom-20px"><a href="#"><img src="{% static 'assets/img/instagram-4.jpg' %}" alt=""></a></div>
								<div class="col-6 margin-bottom-20px"><a href="#"><img src="{% static 'assets/img/instagram-3.jpg' %}" alt=""></a></div>
								<div class="col-6 margin-bottom-20px"><a href="#"><img src="{% static 'assets/img/instagram-1.jpg' %}" alt=""></a></div>
								<div class="col-6 margin-bottom-20px"><a href="#"><img src="{% static 'assets/img/instagram-2.jpg' %}" alt=""></a></div>
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-9">

					<div class="post-standard">
						<div class="thum-img">
							<a href="#"><img src="{% static 'assets/img/blog-1.jpg' %}" alt=""></a>
						</div>
						<a href="#" class="title">Everything Is Okay In The End. If it's Not Okay, Then It's Not The End</a>
						<div class="meta-out">
							<ul class="meta">
								<li> <span class="icon icon_clock_alt"></span> May 22, 2018 </li>
								<li> <span class="icon icon_profile"></span><a href="#">Rabie Eltgani</a> </li>
								<li> <span class="icon icon_comment_alt"></span><a href="#">2</a> </li>
							</ul>
						</div>
						<div class="excerpt">
							<p>Water Curing Is One Of The Most Traditional Ways To Seal Moisture From The Newly Laid Walls. This Is A Time Consuming Process And Hence Delays The Construction Work. The Curing Compounds From The Top Construction Chemicals Manufacturers In India Help Lock The Moisture On The Freshly Laid Concrete Instantly. This Kind Of Compound Is ...</p>
						</div>
						<a href="#" class="nile-bottom md">Read More <i class="fa fa-arrow-right"></i> </a>
					</div>


					<div class="post-standard">
						<div class="thum-img">
							<a href="#"><img src="{% static 'assets/img/blog-2.jpg' %}" alt=""></a>
						</div>
						<a href="#" class="title">Everything Is Okay In The End. If it's Not Okay, Then It's Not The End</a>
						<div class="meta-out">
							<ul class="meta">
								<li> <span class="icon icon_clock_alt"></span> May 22, 2018 </li>
								<li> <span class="icon icon_profile"></span><a href="#">Rabie Eltgani</a> </li>
								<li> <span class="icon icon_comment_alt"></span><a href="#">2</a> </li>
							</ul>
						</div>
						<div class="excerpt">
							<p>Water Curing Is One Of The Most Traditional Ways To Seal Moisture From The Newly Laid Walls. This Is A Time Consuming Process And Hence Delays The Construction Work. The Curing Compounds From The Top Construction Chemicals Manufacturers In India Help Lock The Moisture On The Freshly Laid Concrete Instantly. This Kind Of Compound Is ...</p>
						</div>
						<a href="#" class="nile-bottom md">Read More <i class="fa fa-arrow-right"></i> </a>
					</div>


					<div class="post-standard">
						<div class="thum-img">
							<a href="#"><img src="{% static 'assets/img/blog-3.jpg' %}" alt=""></a>
						</div>
						<a href="#" class="title">Everything Is Okay In The End. If it's Not Okay, Then It's Not The End</a>
						<div class="meta-out">
							<ul class="meta">
								<li> <span class="icon icon_clock_alt"></span> May 22, 2018 </li>
								<li> <span class="icon icon_profile"></span><a href="#">Rabie Eltgani</a> </li>
								<li> <span class="icon icon_comment_alt"></span><a href="#">2</a> </li>
							</ul>
						</div>
						<div class="excerpt">
							<p>Water Curing Is One Of The Most Traditional Ways To Seal Moisture From The Newly Laid Walls. This Is A Time Consuming Process And Hence Delays The Construction Work. The Curing Compounds From The Top Construction Chemicals Manufacturers In India Help Lock The Moisture On The Freshly Laid Concrete Instantly. This Kind Of Compound Is ...</p>
						</div>
						<a href="#" class="nile-bottom md">Read More <i class="fa fa-arrow-right"></i> </a>
					</div>

					<!-- pagination -->
					<ul class="pagination pagination-md ">
						<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
					<!-- // pagination -->


				</div>

			</div>

		</div>
	</div>

    {% include 'myhtml/footer.html' %}

	<script src="{% static 'assets/js/YouTubePopUp.jquery.js' %}"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'assets/js/imagesloaded.min.js' %}"></script>
	<script src="{% static 'assets/js/custom.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>


<!-- blog-right-sidebar01:38-->
</html>
