{% load static %}
<!DOCTYPE html>
<html lang="en-US">


<!-- page-faqs01:28-->
<head>
	<title>FAQ of VGO - Digital transformation in Logistics</title>
	<meta name="author" content="Nile-Theme">
	<meta name="robots" content="index follow">
	<meta name="googlebot" content="index follow">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
	<meta name="description" content="Transportation and Logistics Responsive HTML5 Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext" rel="stylesheet">
	


	<!-- animate -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />
	<!-- owl Carousel assets -->
	<link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/owl.theme.css' %}" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<!-- hover anmation -->
	<link rel="stylesheet" href="{% static 'assets/css/hover-min.css' %}">
	<!-- flag icon -->
	<link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<!-- elegant icon -->
	<link rel="stylesheet" href="{% static 'assets/css/elegant_icon.css' %}">

	<!-- jquery library  -->
	<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
	<!-- fontawesome  -->
	<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}">

</head>

<body>
	<!--  Header  -->
{% include 'myhtml/header.html' %}
	
	<!-- // Header  -->

	<!-- Search  -->
	<div id="search">
		<button type="button" class="close">×</button>
		<form class="clearfix d-block">
			<input type="search" value="" placeholder="Search for . . . ." />
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>
	<!-- // Search  -->

	<!-- Get A Quote  -->
	<div class="modal contact-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content margin-top-150px background-main-color">
				<div class="row no-gutters">
					<div class="col-lg-5">
						<img src="{% static 'assets/img/contact-img.jpg' %}" alt="">
					</div>
					<div class="col-lg-7">
						<div class="padding-30px">
							<h3 class="padding-bottom-15px">Get A Free Quote</h3>
							<form>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Full Name</label>
										<input type="text" class="form-control" id="inputName4" placeholder="Name">
									</div>
									<div class="form-group col-md-6">
										<label>Email</label>
										<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
									</div>
								</div>
								<div class="form-group">
									<label>Address</label>
									<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
								</div>
								<div class="form-group">
									<label>Message</label>
									<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
								</div>
								<a href="#" class="btn-sm btn-lg btn-block background-dark text-white text-center  text-uppercase rounded-0 padding-15px">SEND MESSAGE</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- // Get A Quote  -->


	<div class="page-title">
		<div class="container">
			<div class="padding-tb-120px">
				<h1>FAQS</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Faqs</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="padding-tb-100px">

		<div class="container">
			<div class="row">
				<div class="col-lg-8">


					<div id="accordion" class="nile-accordion sm-mb-45px">

						<!-- <div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-block btn-link active" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-info-circle"></i> Why us ?</button>
								</h5>
							 </div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<p><b><h3>What is Vgo App?</h3></b></p>
									Vgo provides affordable and reliable moving services. Just log in, choose a mini-truck or 2-wheeler, and book! Get a verified driver with an ETA of under 15 minutes. How to use the Vgo app?	
								</div>
							</div>
						</div> -->
						<!-- <div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-truck"></i> Explore our Facilities</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </div>
							</div>
						</div> -->
						<p><b><h3>What is Vgo App?</h3></b></p>
						<p>
							Vgo provides affordable and reliable moving services. Just log in, choose a mini-truck or 2-wheeler, and book! Get a verified driver with an ETA of under 15 minutes. How to use the Vgo app?	

						</p>
						<p><b><h3>Download the Vgo App,</h3></b></p>

                             <p>
	                         Choose where to pick up and drop off.
                             Choose from 2 wheelers and mini trucks (Tata Ace, Pickup 8ft, Pickup 7ft, Tempo, etc). Vehicle arrives in under 15 minutes.
                            </p>
						<p><b><h3>What is the process for booking a tempo/mini truck or bike online with Vgo?</h3></b></p>
                          <p>Below are the steps to book a vehicle:
							Sign into the Vgo app</p> 
							<p>
								Browse through the available vehicles (Tata Ace, 8ft pickup truck, 2 wheeler, etc) and select the vehicle you want.
You'll need to enter a few more details, apply a coupon for a discount, and then confirm your booking.
Sit back and relax, our reliable driver partners and technology will handle the rest.
							</p>
							<p><b><h3>
What kind of service does Vgo offer?

							</h3></b></p>
							<p>
								Vgo also offers intercity and interstate delivery services.Within a 300-kilometer radius of the city, you can deliver freight anyplace.
							</p>

							<p><b><h3>What are charges for a Vgo truck and Vgo bike delivery services?</h3></b></p>
                           <p>
							The cost of renting a Vgo truck or Vgo bike is based on the number of miles they travel, type of vehicle used and varies by location. You can also use the estimate option on the Vgo website to receive a more precise estimate of the cost of your journey.

						   </p>

					</div>

				</div>

				<div class="col-lg-4">
					<div class="contact-modal">
						<div class="background-main-color">
							<div class="padding-30px">
								<h3 class="padding-bottom-15px">Get A Free Quote</h3>
								<form>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Full Name</label>
											<input type="text" class="form-control" id="inputName44" placeholder="Name">
										</div>
										<div class="form-group col-md-6">
											<label>Email</label>
											<input type="email" class="form-control" id="inputEmail44" placeholder="Email">
										</div>
									</div>
									<div class="form-group">
										<label>Message</label>
										<textarea class="form-control" id="exampleFormControlTextarea11" rows="3"></textarea>
									</div>
									<a href="#" class="btn-sm btn-lg btn-block background-dark text-white text-center  text-uppercase rounded-0 padding-15px">SEND MESSAGE</a>
								</form>
							</div>
						</div>
					</div>
				</div>


			</div>
			<!-- // row -->
		</div>
		<!-- // container -->

	</div>
    {% include 'myhtml/footer.html' %}

					

	<script src="{% static 'assets/js/YouTubePopUp.jquery.js' %}"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'assets/js/imagesloaded.min.js' %}"></script>
	<script src="{% static 'assets/js/custom.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>


<!-- page-faqs01:28-->
</html>
