<!DOCTYPE html>
{% load static %}

<html lang="en-US">


<!-- blog-no-sidebar01:38-->
<head>
	<title>VGO-Success</title>
	<meta name="author" content="Nile-Theme">
	<meta name="robots" content="index follow">
	<meta name="googlebot" content="index follow">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
	<meta name="description" content="Transportation and Logistics Responsive HTML5 Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext" rel="stylesheet">
		 
	
	<!-- animate -->
			 <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />
			 <!-- owl Carousel assets -->
			 <link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet">
			 <link href="{% static 'assets/css/owl.theme.css' %}" rel="stylesheet">
			 <!-- bootstrap -->
			 <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
			 <!-- hover anmation -->
			 <link rel="stylesheet" href="{% static 'assets/css/hover-min.css' %}">
			 <!-- flag icon -->
			 <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
			 <!-- main style -->
			 <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
			 <!-- elegant icon -->
			 <link rel="stylesheet" href="{% static 'assets/css/elegant_icon.css' %}">
		 
			 <!-- jquery library  -->
			 <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
			 <!-- fontawesome  -->
			 <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}">
		 
</head>
<style>
    .back-img-jpeg{
        background-image: url('/static/images/11.jpeg/');
    }
</style>
<body class="back-img-jpeg">
	<!--  Header  -->
	{% include 'myhtml/header.html' %}
			<center>
				<img src="https://i.pinimg.com/originals/45/97/70/459770a2983c886f0473e62097c5006a.gif"
		          class="shadow p-5" height="550px" alt="kasim saifi ">
			</center>
			{{stu}}
			

 {% include 'myhtml/footer.html' %}
	
	<script src="{% static 'assets/js/YouTubePopUp.jquery.js' %}"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'assets/js/imagesloaded.min.js' %}"></script>
	<script src="{% static 'assets/js/custom.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>


<!-- blog-no-sidebar01:38-->
</html>
