{%  extends 'myhtml/base.html' %}
{% load static %}
{% block title %}Change Password Page{% endblock %}
{% block content %}
<body class="go">

   <div class="container mt-5 ">
      <style>
         form{
            background-image: url('/static/images/12.jpg/');
            opacity: 0.5;
            border-radius:5%;
         }
         .go{
            background-image: url('/static/images/14.jpeg/');
            
         }
      </style>
     <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
       <h4 class="text-center" >Changed Password Form</h4>  <hr> 
       <form action="" method="post" novalidate  class="shadow p-5  mb-3 rounded">
        {% for fm  in messages %}
        <p {% if fm.tags %} class="alert alert-{{fm.tags}} mb-5 " {% endif %}>
         <h1 class="text-center">{{mm}}</h1>
        </p>
        {% endfor  %}
        {% csrf_token %}
       {% for fm in form %}
       <div class="form-group">
       {{fm.label_tag}}  {{fm}} <small class="text-danger">{{fm.errors|striptags}} </small> <br>
    </div>
       {%endfor %}
        <input type="submit" class="btn btn-primary mt-4" value="Submit">
        <br>
           {% if form.non_field_errors %}
           {% for error in form.non_field_errors %}
           <p class="alert alter-danger my-3">{{error}}</p>
           {% endfor %}
           {% endif %}
       </form>
      </div>
     </div>
    </div>
   
</body>

{% endblock %}