{%  extends 'myhtml/base.html' %}
{% load static %}
{% block title %}Reset Password Page{% endblock %}
{% block content %}
<body class="body-ok-play">
   <style>
      .body-ok-play{
         background-image:url('/static/images/Shahabi.png/');
      }
   </style>
   <div class="container">
      <div class="row my-3">
       <div class="col-sm-6 offset-sm-3">
        <h3 class="text-center" ></h3>
    <h6 class="text-center"><img src="{% static 'assets/img/Logo-VGO.png' %}" width="" height="" alt="User Login"></h6>

        <form action="" method="post" novalidate class="shadow p-5 background-white rounded-3 ">
         {% for fm  in messages %} 
         <p {% if fm.tags %} class="alert alert-{{fm.tags}} mb-5 " {% endif %}> 
            <h1 class="text-center">{{mm}}</h1>
         </p>
         {% endfor  %}
         {% csrf_token %}
        {% for fm in form %}
        <div class="form-group">
        {{fm.label_tag}}  {{fm}} <small class="text-danger">{{fm.errors|striptags}} </small> <br>
     </div>
        {%endfor %}
         <input type="submit" class="btn btn-primary mt-4" value="Submit">
      
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alter-danger my-3">{{error}}</p>
            {% endfor %}
            {% endif %}
        </form>
       </div>
      </div>
     </div>
   </body>

{% endblock %}